  .header-bg {

    z-index: 10;
    color: #f1f1f1;
    width: 60%;
    position: fixed;
    height: 80px;
    background-color: transparent;
    box-shadow: none;
  }

.header-container{
  display: flex; 
  max-width: 1310px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;

}

.header-bg.close-topBar{
  transition: all 0.3s;
  box-shadow: rgba(0,0,0,0.07) 0px 4px 10px 0px;
  height: 55px; 
  background-color: rgba(242, 245, 247, 1);

}

.logo{
  margin-top: 20px;
  position: relative;
  padding-left: 50px;
  vertical-align: middle;
  height: 60px;
}
.logo.close-topBar{
  margin-top: 0;
  height: 45px;
  transition: all 0.3s;
}


.hamburger {
    outline: none;
    position: relative;
    height: 100%;
    padding-right: 50px;
}


@media (max-width: 1320px) {
  .header-bg{
    width: 100%;
  }
  .hamburger{
    padding-right: 1rem;
  }
  .logo{
    padding-left: 1rem;
    margin:0;
  }
  .navLink{
    font-size: 18px;
  }
  .logo.close-topBar{
    height: 30px;
  }
}