<div class="header" id="myHeader">
    <img class="logo left" src="/assets/images/logo.png"/>  
    <img class="logo right" src="/assets/images/logo.png"/>  
    <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <button class="hamburger hamburger--collapse is-active" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>