<div class="header-bg" [ngClass]="{'close-topBar':shadowLineVisible}">
  <div class="header-container">
    <a href=#Forside alt="Forside">
      <img class="logo" [ngClass]="{'close-topBar':shadowLineVisible}"
        [ngClass]="{'open-topBar':!shadowLineVisible}" src="/assets/images/logo.svg" alt="Logo"/>
    </a>
    <button (click)="exploreMenuClick()" [ngClass]="{'is-active': isOpen}" class="hamburger hamburger--spin"
      type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</div>