  .header-bg {

    z-index: 10;
    color: #f1f1f1;
    width: 60%;
    position: fixed;
    height: 80px;
    background-color: transparent;
    box-shadow: none;
  }

.header-container{
  display: flex; 
  max-width: 1310px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 50px 0 50px;

}

.header-bg.close-topBar{
  transition: all 0.3s;
  box-shadow: rgba(0,0,0,0.07) 0px 4px 10px 0px;
  height: 55px; 
  background-color: rgba(242, 245, 247, 1);

}

.logo{
  margin-top: 20px;
  position: relative;
  vertical-align: middle;
  height: 60px;
}
.logo.close-topBar{
  margin-top: 0;
  height: 45px;
  transition: all 0.3s;
}


.hamburger {
  display: none;
}


.nav{
  display: flex;
  list-style: none;
  letter-spacing: .4px;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
}

.nav.text-CloseTopBar{
  transition: all 0.3s;
  font-size: 17px;
}

.nav > li > a {
  padding: 10px 12px;
  color: #000;
  text-decoration:none;
  opacity: 0.8;
}

.nav > li > a:hover, .nav > li > a:active{
  opacity:1;
  font-weight: 600;
}


@media (max-width: 1060px) {
  .header-bg{
    width: 100%;
  }
  .navLink{
    font-size: 18px;
  }
}

@media (max-width: 650px){
  .hamburger {
    display: block;
    outline: none;
    position: relative;
    height: 100%;
    padding-right: 0px;
  }
  .nav{
    display: none;
  }
}