<div class="container" id="OmOss">
  <div>
    <h1>OM OSS</h1>
    <p>Vi tilbyr allmenn fysioterapi for personer over 18 år. Vi har driftsavtale med kommunen og helseforetak. Våre
      pasienter har rett på refusjon og kommer inn under frikortordningen. </p>

    <p>Hos EIDE fysioterapi får du undersøkelse og behandling av erfarne autoriserte fysioterapeuter,
      der kvalitet og ivaretakende behandling for deg som pasient er viktigst.
      Fysioterapeutene har lang erfaring som klinikere, deltar i forskningsprosjekter
      og er spesialisert innen muskel- og skjelettlidelser. Vi vektlegger evidensbasert
      praksis og aktiv fysioterapi i kombinasjon med manuell behandling.
      Fysioterapeutene har et bredt nettverk innen spesialistmiljøet,
      og har tung videreutdanning og spesialisering innen behandling av rygglidelser,
      nakkelidelser, hodepine, svimmelhet, skulderplager, albueplager, musearm,
      hofteplager, kneplager, ankel- og fotrelaterte plager samt andre muskel- og skjelettplager. ** Lånt tekst **
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="picture">
      <img src="/assets/images/rita-cropped.webp" onerror="this.onerror=null; this.src='/assets/images/rita-cropped.png'" alt="Picture of Rita" style="width:100%" />
    </div>
    <div class="text">
      <h2> Rita Hansgård </h2>
      <p>Fysioterapeut Rita Hansgård har tyve års erfaring innen fysioterapi. Rita er opptatt av en helhetlig tilnærming
        til kroppens funksjonsplager, både i forhold til behandling, kosthold og trening.
        <br> <br>
        Tlf: <a href="tel:97108033">97 10 80 33</a>
      </p>
    </div>
  </div>
    <div class="row">
      <div class="picture">
        <img src="/assets/images/kjellErik-cropped.webp" onerror="this.onerror=null; this.src='/assets/images/kjellErik-cropped.png'" alt="Picture of Kjell Erik" style="width:100%" />
      </div>
      <div class="text">
        <h2> Kjell Erik Tveten </h2>
        <p>Fysioterapeut Kjell Erik Tveten har atten års erfaring innen fysioterapi. Han har spesialkompetanse både
          innen behandling av idrettsskader, behandling av barn, kvinner i svangerskap og manuell behandling av
          ortopediske plager.
        <br> <br>
        Tlf: <a href="tel:+4790931019">90 93 10 19</a>
        </p>
      </div>
  </div>
</div>