<div class="container" id="OmOss">
  <div>
    <h1>OM OSS</h1>
    <p>Vi tilbyr allmenn fysioterapi for personer over 18 år. Vi har driftsavtale med kommunen og helseforetak. Våre
      pasienter har rett på refusjon og kommer inn under frikortordningen. <br> <br> Hos Eide Fysioterapi får du
      undersøkelse og behandling av erfarne autoriserte fysioterapeuter der kvalitet og ivaretakende behandling for deg
      som pasient er viktigst. Vi er opptatt av en helhetlig tilnærming til muskel-skjelett plager og ønsker å bidra til
      at man i størst mulig grad kan ivareta egen helse.
      Vi ønsker å være faglig oppdatert i vårt behandlingstilbud, og har en kunnskapsbasert tilnærming. </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="column">

      <div class="picture">
        <img src="/assets/images/rita-cropped.webp"
        onerror="this.onerror=null; this.src='/assets/images/rita-cropped.png'" alt="Picture of Rita" />
      </div>
      <div class="text">
        <h2> Rita Hansgård </h2>
        <p>
          <!-- Fysioterapeut Rita Hansgård har tyve års erfaring innen fysioterapi. Rita er opptatt av en helhetlig tilnærming
            til kroppens funksjonsplager, både i forhold til behandling, kosthold og trening.
            <br> <br> -->
            Tlf: <a aria-label="Fysioterapaut Rita sitt telefonnummer" href="tel:+4797108033">97 10 80 33</a> <br>
            Email: <a aria-label="Fysioterapaut Rita sin epostadresse" href="mailto:rita@eide-fysioterapi.no">rita@eide-fysioterapi.no</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="picture">
          <img src="/assets/images/kjellErik-cropped.webp"
          onerror="this.onerror=null; this.src='/assets/images/kjellErik-cropped.png'" alt="Picture of Kjell Erik" />
        </div>
    <div class="text">
      <h2> Kjell Erik Tveten </h2>
      <p>
        <!-- Fysioterapeut Kjell Erik Tveten har atten års erfaring innen fysioterapi. Han har spesialkompetanse både
          innen behandling av idrettsskader, behandling av barn, kvinner i svangerskap og manuell behandling av
          ortopediske plager. 
          <br> <br> -->
          Tlf: <a aria-label="Fysioterapaut Kjell Erik sitt telefonnummer" href="tel:+4790931019">90 93 10 19</a> <br>
          Email: <a aria-label="Fysioterapaut Kjell Erik sin epostadresse" href="mailto:kjellerik@eide-fysioterapi.no">kjellerik@eide-fysioterapi.no</a>

        </p>
      </div>
    </div>
  </div>
</div>