.flex-container {
    max-width: 1310px;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-container > div {
    width: 100%;
    margin: 10px;
    text-align: center;
  }

.row {  
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
}


img{
  height: 205px;
  width: 205px;
  max-height: 100%;
  /* box-shadow: 10px 10px 5px rgba(0,0,0,0.6); */
}

.picture {
  max-width: 100%;
  /* margin: 0 0 0 5%; */
}


.text {
  flex: 50%;
  padding-left: 15px;
}

.text > h2{
  font-weight: bold; 

}

@media (max-width: 992px) {
  .text{
    flex: 50%;
  }
  /* .picture{
    flex: 50%;
    padding: 10px;
    justify-content: center;
  } */

  .row {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 440px) {
  .text{
    flex: 100%;
    padding-left: 0;
  }
}