.main-content{
    width: 60%;
    float: right;
    position: relative;
}

.side-header {
    width: 40%;
    height: 100vh;
    position: sticky;
    top: 0;
}

img{
    width: 100%;
    object-position: center;  
    min-height: 100vh;
    object-fit: cover;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1320px) {
    .main-content{
        width: 100%;
        float: right;
    }
    .side-header{
        display: none;
    }
}