<div class="main">
    <div class="side-header">
        <img src="/assets/images/massasje.webp" onerror="this.onerror=null; this.src='/assets/images/massasje.jpg'" alt="Massasje"  />
    </div>
    <div class="main-content" id="Forside">
        <app-header (ExploreMenu)="toggleNavMenu()"></app-header>
        <div class="small-image">
            <!-- <img src="/assets/images/massasje-small.webp" onerror="this.onerror=null; this.src='/assets/images/massasje-small.png'" alt="Massasje"  /> -->
        </div>
        <app-landing-page></app-landing-page>
        <app-employees></app-employees>
        <app-contact-us></app-contact-us>
        <app-footer></app-footer>
        <div @animate>
            <app-navigator *ngIf="showNavigationMenu" (cancellation)="cancelNavMenu()"></app-navigator>
        </div>
    </div>
</div>
