<!-- <div class="overlay"></div> -->
<div class="root-container" id="Forside">
  <div class="container">
    <img class="logo-img" src="/assets/images/logoMedNavn.svg" alt="Eide Fysioterapi-logo"/>
  </div>

<div class="container">
  <div class="row">
    <div class="side-visning">
      <h2> REHABILITERING </h2>
      <p>Vi gjør ulike typer rehabilitering tilpasset ditt behov. Tekst slik at de blir jevnere lengde på teksten.  </p>
      <!-- <p>Rehabilitering etter skade</p>
            <p>Treningstilbud i grupper</p>
            <p>Aktiv med artrose</p>
            <p>Veiledning og læring av mestringsteknikker</p> -->
    </div>
    <div class="side-visning">
      <h2> MESTRING</h2>
      <p>Vi gir veiledning og læring av mestringsteknikker, slik at din hverdag kan bli bedre. Litt mer tekst. </p>
      <!-- <p>Driftsavtale med kommune og helseforetak </p>
            <p>Frikort med full refusjon </p>
            <p>Tilgjengelig for personer over 18 år </p> -->
    </div>
    <div class="side-visning visning-right">
      <h2> TRENING</h2>
      <p>Vi har ulike treningstilbud i grupper. Vi tilbyr også «Aktiv med artrose», et aktivitetsprogram for personer med artrose.
      </p>
      <!-- <p>Et eksempel på tekst</p>
            <p>Et annet eksempel på tekst</p>
            <p>Et tredje eksempel på tekst</p> -->
    </div>
  </div>
</div>
</div>
