<div class="root-container">
  <div class="container">
    <img class="logo-img" src="/assets/images/logoMedNavn.svg" alt="Eide Fysioterapi-logo" />
  </div>

  <div class="container">
    <div class="row">
      <div class="side-visning">
        <h2> REHABILITERING </h2>
        <p> Rehabilitering og trening etter sykdom og skader. </p>
      </div>
      <div class="side-visning">
        <h2> BEHANDLING </h2>
        <p>Individuell behandling, øvelser, massasje og elektroterapi.</p>
      </div>
      <div class="side-visning">
        <h2> TRENING</h2>
        <p>Treningstilbud i gruppe, «Aktiv med artrose».</p>
      </div>
      <div class="side-visning">
        <h2> MESTRING </h2>
        <p> Veiledning og behandling for personer med langvarige smertetilstander basert på en kognitiv tilnærming og ny
          forståelse av smerte.</p>
      </div>
    </div>
  </div>
</div>