.root-container {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  // width: 100vw;
  background-size: cover;
}

.logo-img{
  position: relative;
  top: -20%;
  height: 8em;
}


.container {
  display: flex;
  justify-content: center;
  height: 60%;
  margin-top: 75px;
}

h2 {
  letter-spacing: 1px;
}

.row {  
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  max-width: 1310px;
  position: relative;
  width: 100%;

}

.side-visning {
  flex: 30%;
  margin-right: 20px;
  text-align: left;
}

.red-box {
  border-radius: 25px;
  border: 2px solid rgba(148, 59, 59, 0.397);
  padding: 20px;
}

.visning-right {
  margin-right: 0px;
}

@media (max-width: 1060px) {
  .container{
    margin-top: 0;
  }
}

@media (max-width: 650px) {
  .side-visning{
    flex: 100%;
    margin-right: 0px;
  }
  .logo-img{
    height: 6em;
  }
}
@media (max-width: 450px) {
  .logo-img{
    height: 5em;
  }
}