.root-container {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  // width: 100vw;
  background-size: cover;
}

.logo-img{
  position: relative;
  top: -20%;
  height: 8em;
}


.container {
  display: flex;
  // flex: 1;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  margin-top: 75px;
}

.row {  
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  max-width: 1310px;
  position: relative;
}

.side-visning {
  flex: 30%;
  padding: 20px;
  text-align: center;
}

