<div class="overlay"></div>
  <div class="root-container" id="test1">
    <div class="navbar">
      <div class="nav-items">
      </div>
    </div>

  <div class="container">
    <h4 class="short-bio">Fysioterapaut</h4>

    <div class="name">
      <p>
        Rita Hansgård Gjelsvik
      </p>
      <div class="strip"></div>
    </div>

    <div class="stick">
      <div class="stick-design"></div>
    </div>
  </div>
  <!-- <img src="/src/assets/images/logo.png"/> -->

</div>
<!--Navigation links with a Smooth SCroll effect-->


