<!-- <div id="test3" style="height: 1000px;" class="row">
  <div>
    <p>Kontaktskjema</p>
  </div>
  <div class="side">
    <div class="flex-container">
      <div>
        Adresse
      </div>
      <div>
        Kontakt
      </div>
    </div>
      <div>
        Åpent
      </div>
      <div>
      </div>
  </div>
</div> -->

<div class="row" style="height: 500px;">
    <div class="main">
      <h2>Kontakt</h2>
      <h3>Navn*</h3>
      <h3>E-post*</h3>
      <h3>Melding*</h3>
      <h3>Send</h3>
    </div>
    <div class="side">
      <h2>Adresse</h2>
      <p>Tornesvegen 562</p>
      <p>6443 Tornes</p>
      <p>Romsdalen</p>
      <br>
      <h2>Kontakt</h2>
      <p>Rita-fysio@gmail.com</p>
      <p>+47 466 24 665</p>
    </div>
    <div class="side">
        <h2>Åpent</h2>
        <p>Man-fre: 8.00-15:00</p>
        <p>Lør: Steng</p>
        <p>Søn: Steng</p>
        <br>
      </div>
  </div>