
.row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  .side {
    flex: 25%;
    /* padding: 20px; */
  }



agm-map {
  height: 400px;
  width: 100%;
}

/* @media (max-width: 992px) {
  agm-map {
    height: 300px;
    width: 100%;
  }
} */
@media (max-width: 800px) {
  .åpningstider {
    flex: 18%;
  }
}
@media (max-width: 650px) {
  .åpningstider {
    flex: 10%;
  }
}
@media (max-width: 520px) {
  .åpningstider {
    flex: 100%;
  }
}