<div id="KontaktOss" class="container" style="height: 500px;">
  <div class="row">
    <h1>KONTAKT OSS</h1>
  </div>
  <div class="row">

    <div class="side">
      <h2>Kontaktinformasjon</h2>
      <p>
        <strong>EIDE Fysioterapi</strong>
        <br>
        Rådhusveien 18, 6490 Eide
        <br>
        Epost: <a href="mailto:EIDE-fysioterapi@example.com" target="_top">eide-fysioterapi@example.com</a>
        <br>
        Tlf: <a href="tel:+4771296108"> 71 29 61 08</a>
      </p>
      <br>
    </div>
    <div class="side">
      <h2>Åpningstider</h2>
      <p>
        Man-fre: 8.00-15:30
        <br>
        Lør: Stengt
        <br>
        Søn: Stengt
      </p>
    </div>
  </div>
  <div class="row">
    <h2> Kart </h2>
  </div>
  <div class="row">
    <agm-map [zoom]="zoom" [mapTypeControl]='true' [fullscreenControl]='true' [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>Eide Fysioterapi</agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
<div style="height: 300px"> </div>
