
.row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  .side {
    flex: 25%;
    /* padding: 20px; */
  }

.kart {
    flex: 50%;
    /* padding: 20px; */
  }

.textBox {
  width: 100%;
  height: 200px; 
  padding: 0 10px;
  border: 5px solid gray;
}
