<div id="ContactUs" class="container" style="height: 500px;">
  <div class="row">
    <div class="side">
      <h2>KONTAKT</h2>
      <p>
        <strong>EIDE Fysioterapi</strong>
        <br>
        Rådhusveien 18, 6490 Eide
        <br>
        Epost: <a href="mailto:EIDE-fysioterapi@example.com" target="_top">eide-fysioterapi@example.com</a>
        <br>
        Tlf: +47 71 29 61 08
      </p>
      <br>
    </div>
    <div class="side">
      <h2>ÅPENT</h2>
      <p>
        Man-fre: 8.00-15:30
        <br>
        Lør: Stengt
        <br>
        Søn: Stengt
      </p>
    </div>
  </div>
  <div class="row">
    <div class="kart">
      <h2> KART </h2>
      <div class="textBox">
        <p>
          Her kommer Google maps kart.
        </p>
      </div>
    </div>
  </div>
</div>

<div style="height: 100px"> </div>