/* You can add global styles to this file, and also import other style files */

@import "./assets/dist/hamburgers.css";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
    background-color: rgba(242, 245, 247, 1);
    margin: 0px;
  }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  hyphens: auto;
}

.h1, h1{
  font-size: 1.5em;
}
.h2, h2{
  font-size: 1.17em;
}
.h3,h3{
  font-size: 1em;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}


.hoverwell:hover {
    background-color: #485563;
    cursor: pointer;
  }
  
  .container {
    padding-top: 10px;
    width:100%;
    padding: 50px 50px 0;
    max-width: 1310px;
    margin: auto;
  }
  
  .pointable {
    cursor: pointer;
  }
  
  button {
    color: #555;
  }
  
  [hidden] {
    display: none !important;
  }
  
  .toast-success {
    background-color: #51a351;
  }
  .toast-error {
    background-color: #bd362f;
  }
  .toast-info {
    background-color: #2f96b4;
  }
  .toast-warning {
    background-color: #f89406;
  }

  
  @media (max-width: 800px) {
    .container{
      max-width: 800px;
      padding: 50px 15px 0;
      margin: 0;
    }
  }