/* You can add global styles to this file, and also import other style files */

// @import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
    background-color: rgba(242, 245, 247, 1);
    margin: 0px;
  }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}


p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
}


.hoverwell:hover {
    background-color: #485563;
    cursor: pointer;
  }
  
  .container {
    padding-top: 10px;
    width:100%;
    padding: 50px;
    max-width: 1310px;
    margin: auto;
  }
  
  .pointable {
    cursor: pointer;
  }
  
  button {
    color: #555;
  }
  
  [hidden] {
    display: none !important;
  }
  
  .toast-success {
    background-color: #51a351;
  }
  .toast-error {
    background-color: #bd362f;
  }
  .toast-info {
    background-color: #2f96b4;
  }
  .toast-warning {
    background-color: #f89406;
  }

  /* .view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (42).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}
@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}
.navbar {
    z-index: 1;
}
.navbar {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
} */