.navigator-container {
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(#555, 0.9);
  top: 0;
  left: 0;
  z-index: 5;
  justify-content: center;
  align-items: center;
  background-color: rgba(85,85,85,.95);
}

.navLinks {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}

.refBox{
border-radius: 0.5rem;
border: 2px;
width: 412px;
padding: 1rem 5rem;
background-color: rgba(248,248,248,.5);
display: block;
@media (max-width: 640px) {
  width: 100%;
}
}

.navLink {
padding: 1rem 0;
font-size: 1.4rem;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 1px;
text-align: center;
cursor: pointer;
border-radius: 0.5rem;
@media (max-width: 1300px) {
  width: 40%;
}
@media (max-width: 650px) {
  width: 100%;
} 
}

.navLink>* {
  color: #fff;
  text-decoration: none;
}
